<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img [src]="urlService.getUrl()+serviceUser.getUserFoto()"></ion-img>
            </ion-avatar>
            <ion-label>{{serviceUser.getUserName()}}</ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let menu of menuService.perfilMenu">
            <ion-item [routerDirection]="'root'" (click)="actionMenu(menu.acao)">
              <ion-icon slot="start" [name]="menu.icone"></ion-icon>
              <ion-label>
                {{menu.label}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-button  expand="full" color="danger" (click)="logout()">Sair</ion-button >

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
